* {
  font-family: sans-serif;
}

h1, div, p {
  text-align: center;
}

#strengthText, #strengthMessage {
  margin-top: 20px;
  font-size: 20px;
}

div {
  margin-bottom: 10px;
}

#author {
  margin-top: 50px;
}